.item-button button {
  width: 200px;
  margin-top: 20px;
  background-color: inherit; /* Set the background color to whatever the default state is */
  color: inherit; /* Set the text color to whatever the default state is */
  border-color: rgb(36, 137, 244);
}

.category-item {
  height: 45px;
  background-color: rgb(108, 184, 251);
}
.category {
  margin: 10px;
  cursor: pointer;
  padding: 5px;
  width: 150px;
  height: 40px;
  transition: 1.5s;
}

.category-active {
  background: #fff;
  opacity: 1;
  transform: translateY(-5px);
  color: rgb(36, 137, 244);
}

.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.register input {
  width: 400px !important;
}

.regsiter-form {
  background-color: rgba(98, 197, 251, 0.463);
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.regsiter-form h1 {
  text-align: center;
  background-color: rgb(2, 2, 75);
  color: white;
  padding: 10px;
}

.regsiter-form h3 {
  color: rgb(4, 4, 113);
  text-align: center;
}
